﻿@model IEnumerable<StudentManagement_Web.Models.DTO.ClassDTO.ClassUpdateDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               <a asp-controller ="Class" asp-action="Edit" asp-route-id="@item.Id"/> |
                @*@Html.ActionLink("Details", "Details", item) |
                    @Html.ActionLink("Delete", "Delete", item)*@
            </td>
        </tr>
}
    </tbody>
</table>
